.screm {
    background-image: url("../img/screm.jpg");
    height: 500px;
    width: 500px;
}
.bg-mint {
    background-color: #B8EBD0;
}
.bg-lilac {
    background-color: #8D5A97;
}
.bg-silver {
    background-color: #A4A5AE;
}